	
<!--<head>
	<%if controller.controller_name != 'sessions'  %>
		<meta charset="utf-8"/>
		<%if controller_name == 'index'%>
			<title>MASTERCOM | INDEX</title>
		<%elsif controller_name == 'grupo'%>
			<title>MASTERCOM | GRUPOS</title>
		<%elsif controller_name == 'subgrupo'%>
			<title>MASTERCOM | SUBGRUPOS</title>
		<%elsif controller_name == 'empresa'%>
			<title>MASTERCOM | EMPRESAS</title>
		<%elsif controller_name == 'user'%>
			<title>MASTERCOM | USUARIOS</title>
		<%elsif controller_name == 'nivelacesso'%>
			<title>MASTERCOM | ACESSOS </title>
		<%elsif controller_name == 'estado'%>
			<title>MASTERCOM | ESTADOS </title>
		<%elsif controller_name == 'classificacaofiscal'%>
			<title>MASTERCOM | CLASSIFICAÇÕES FISCAIS </title>		
		<%else%>
			<title>MASTERCOM</title>
		<%end%>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta content="" name="description"/>
		<meta content="" name="author"/>
		 BEGIN GLOBAL MANDATORY STYLES
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
		<link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
		<link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css">
		
		<link rel="stylesheet" type="text/css" href="../../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css"/>
		<link href="../../assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css"/>
		<link href="../../assets/admin/pages/css/profile.css" rel="stylesheet" type="text/css"/>
		<link href="../../assets/admin/pages/css/tasks.css" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" type="text/css" href="../../assets/global/plugins/select2/select2.css"/>
		<link rel="stylesheet" type="text/css" href="../../assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../assets/global/plugins/datatables/extensions/ColVis/css/dataTables.colVis.css"/>
		<link rel="stylesheet" type="text/css" href="../../assets/global/plugins/datatables/extensions/ColVis/css/dataTables.colVis.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="../../assets/global/plugins/typeahead/typeahead.css">
		<link href="../../assets/admin/pages/css/error.css" rel="stylesheet" type="text/css"/>

		<link href="../../assets/global/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css">
		<link href="../../assets/global/css/plugins.css" rel="stylesheet" type="text/css">
		<link href="../../assets/admin/layout3/css/layout.css" rel="stylesheet" type="text/css">
		<link href="../../assets/admin/layout3/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color">
		<link href="../../assets/admin/layout3/css/custom.css" rel="stylesheet" type="text/css">
		END THEME STYLES 
  	<%end%>
  	<script>
	  	var myApp = angular.module('myApp', []);
		/*myApp.config([
		  '$httpProvider', function($httpProvider) {
		    return $httpProvider.defaults.headers.common['X-CSRF-Token'] = $('meta[name=csrf-token]').attr('content');
		  }
		]);*/

  	</script>
</head>-->
