<!DOCTYPE html>
<html lang="en">
<%= render :partial => "layouts/shared/header"%>

<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">
	<!-- BEGIN PAGE HEAD -->
	<div class="page-head">
	
		<!-- END PAGE TITLE -->
		<!-- BEGIN PAGE CONTENT -->
		<div class="page-content">
			<div class="container">
				<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

				<!-- BEGIN PAGE BREADCRUMB -->
				<ul class="page-breadcrumb breadcrumb">
					<li>
						<%= link_to "Página Inicial", root_path, 'data-no-turbolink' => true %>
			  		</li>
			  		<i class="fa fa-circle"></i>
					<li class="active">
						422
					</li>
				</ul>
				<!-- BEGIN PAGE CONTENT INNER -->
				<div class="row">
					<div class="col-md-12 page-404">
						<div class=" number">
							 422
						</div>
						<div class=" details">
							<h3>Opa! Você não tem acesso a essa área...</h3>
						</div>
					</div>
				</div>
				
				<!-- END PAGE CONTENT INNER -->
			</div>
		</div>
		<!-- END PAGE CONTENT -->
	</div>
</div>	
<!-- END PAGE CONTAINER -->

<script>
jQuery(document).ready(function() {       
	// initiate layout and plugins
	Metronic.init(); // init metronic core components
	Layout.init(); // init current layout
	
	$('[name="emp_link"]').click(function () 
	{
		var id = $(this).attr('value');
		$.ajax({
			type: 'post',
			url: '/users/set_current_emp',
			data: {emp_id : id}
		});
	  	window.location.reload();		
	});
});

</script>
</body>
<!-- END BODY -->
</html>